{% extends '_base.html' %}

{% block header %}
  <h1>{% block title %}{% if post %}Edit Post{% else %}New Post{% endif %}{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="title">Title</label>
    <input name="title" id="title" value="{{ post.title if post else '' }}" required>
    <label for="body">Body</label>
    <textarea name="body" id="body">{{ post.body if post else '' }}</textarea>
    <input type="submit" value="Save">
  </form>
{% endblock %}