{% extends '_base.html' %}

{% block welcome_message %}
<h1 class="text-center">CSU Opportunity Tracker Dashboard</h1>
{% endblock %}

{% block title %}
  <h1 class="dashboard-title"> Welcome {{current_user.email}}!</h1>
{% endblock %}


{% block new_post %}
  {% if current_user.is_admin %}
    <a href="{{ url_for('base.create') }}" class="btn-outline-secondary">New Post</a>
  {% endif %}
{% endblock %}

{% block posts %}
  {% for post in posts %}
    <div class="post">
      {% if current_user.is_admin %}
        <h2><a href="{{ url_for('base.edit_post', id=post.id) }}">{{ post.title }}</a></h2>
        <form method="POST" action="{{ url_for('base.delete_post', id=post.id) }}">
          <input type="submit" value="Delete" class="delete-button">
          <a href="{{ url_for('base.edit_post', id=post.id) }}" class="edit-button btn-outline-secondary btn-sm">Edit</a>
        </form>
      {% else %}
        <h2>{{ post.title }}</h2>
        <p>{{ post.body }}</p>
        <a href="{{ url_for('base.view_post', id=post.id) }}" class="btn btn-primary">View Post</a>
      {% endif %}
    </div>
  {% endfor %}
{% endblock %}